<%- include('includes/header.html') %>
    <section class="songs-list">
        <!-- <% for (let q = 0; q < 15; q++) { %>
            <article class="song">
                <div class="cover">
                    <img src="./assets/img/disk-empty.png" alt="Artist name = Song title">
                </div>
                <div class="info">
                    <div class="title">Song title</div>
                    <div class="artist">Artist name</div>
                </div>
            </article>
            <% } %> -->

    </section>
    <%- include('includes/footer.html') %>