@import "mixins/transparent-background";
$web-header-bg-color: transparentize(white,0.2);

.web-header {
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 0px 5px lighten($color: black, $amount: 30%);
    margin: 0 0 30px 0;
    @include transparent-background(white);

    .web-title{
        color: $brand-color;
        text-shadow: 0 1px 1px $shadow-color;
    }
}